.root {
    background-color: #EE5D20;
    color: white;
    /* margin-top: 0.5rem;
    margin-bottom: 1rem; */
  }
.pill {
    background-color: #EE5D20;
    color: white;
    margin: 0.2rem;
    /* margin-bottom: 1rem; */
  }

.input {
    border: rem(1px) solid #EE5D20;
  }