.meetCard {
  /* width: max-content; */
  /* display: inline-flex; */
  padding: 10px;
  border-bottom: 1px solid #202F34;
}

/* folders list */
.folders > a {
  display: block;
  background: rgba(238, 93, 32, 0.1);
  padding: 20px;
  border-radius: 10px;
  border-color: #202F34;
  margin: 5px 0;
  text-decoration: none;
}
.folders > a:hover p {
  color: #EE5D20;
}
.folders p {
  margin: 0;
}
.folders > a p:last-child {
 font-size: 0.8em;
 color: #202F34;
}
